.title {
    padding: 2rem 1rem;
    text-align: center;
}

.title img {
    vertical-align: middle;
    width: 100%;
}

@media (min-width: 410px) {
    .title img{
        width: 360px;
    }
}

.logo {
    margin: 0.8rem 1rem;
    max-width: 40px;
    max-height: 40px;
}

.toggle {
    display: block;
    font-size: 1.4rem;
    padding: 1.2rem 0.8rem 1rem 0;
}

.header__list-item {
    margin: 1rem 0;
    padding: 0;
}

.header__list-item > a {
    color: white;
    text-decoration-line: none;
}

@media (min-width: 768px) {
    .toggle {
        display: none;
    }
}
