.info__box {
    width: 380px;
    margin: 10px 0 0 10px;
    color: #EFEFEF;
}

.info__box > img {
    height: 100%;
}

.info__title {
    padding: 10px;
    display: flex;
    background-color: #39375B;
    border-radius: 0.25rem 0.25rem 0 0;
}

.info__title > img {
    width: 50px;
    height: 50px;
    object-position: left;
    object-fit: cover;
}

.info__title h1 strong {
    font-size: 24px;
    font-weight: normal;
}

.info__title h1 span {
    margin-left: 8px;
    font-size: 16px;
    font-weight: normal;
    color: #FFD1D1;
}

.info__detail {
    padding: 10px;
    display: flex;
    background-color: #745C97;
    border-radius: 0 0 0.25rem 0.25rem;
}

.detail__box {
    margin: 0 10px 0 0;
}

.detail__title {
    font-size: 13px;
    color: #FFD1D1;
}