.nav__brawler_box {
    padding-top: 10px;
    height: 160px;
    margin: 0 0 0 10px;
    overflow-y: scroll;
}

.nav__game_mode_box {
    width: 100%;
    padding: 10px 4px 10px 10px;
}

.nav__list {
    display: flex;
    flex-wrap: wrap;
}

.nav__list > div {
    width: 100%;
}

.nav__brawler_box::-webkit-scrollbar {
    display: none;
}

.nav__date_box_content,
.nav__all,
.nav__items,
.nav__item,
.nav__brawler {
    height: 60px;
    object-fit: contain;
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: transparent;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    padding: 6px 6px 6px 6px;
    margin: 0 4px 4px 0;
}

.nav__brawler {
    width: 60px;
    object-position: left;
    object-fit: cover;
}

.nav__all {
    width: 100%;
}

.nav__items {
    width: 48.6%;
}

.nav__item {
    width: 15.5%;
}

.nav__date_box {
    margin: 0 10px 0 10px;
    text-align: center;
}

.nav__date_box > div {
    display: flex;
    justify-content: space-between;
}

.nav__date_box > label > div {
    width: 100%;
    height: 32px;
    margin: 10px 10px 0 0;
    background-color: #C4D7E0;
}

.nav__date_box_content:hover,
.nav__checkbox:checked + div {
    background-color: #B2C8DF;
}


.nav__radio + img {
    background-color: #C3AED6;
}

.nav__radio:checked + img {
    background-color: #8675A9;
}

.nav__radio:hover + img {
    background-color: #8675A9;
    outline: 2px solid #8675A9;
    outline-offset: -1px;
}

.nav__radio:disabled + img {
    background-color: #DDDDDD;
    filter: grayscale(100%);
    outline: none;
}

@media (min-width: 768px) {
    .flex_box {
        display: flex;
    }

    .nav__brawler_box {
        overflow-y: auto;
        width: 320px;
        min-width: 320px;
        height: 100%;
    }

    .nav__game_mode_box {
        width: 380px;
    }
}

@media (min-width: 410px) {
    .nav__game_mode_box {
        width: 400px;
        padding-top: 10px;
    }

    .nav__all {
        width: 380px;
    }

    .nav__items {
        width: 188px;
    }

    .nav__item {
        width: 60px;
    }

    .nav__date_box_content:hover,
    .nav__checkbox:checked + div {
        background-color: #B2C8DF;
    }

    .nav__date_box {
        width: 380px;
    }
}