.pagination {
    display: flex;
    margin-top: 10px;
    vertical-align: bottom;
    justify-content: space-between;
}

.pagination > button {
    width: 48%;
    padding: 4px;
    font-size: 16px;
    background-color: #C3AED6;
    border: none;
    border-radius: 0.25rem;
}

.pagination > button:hover {
    background-color: #8675A9;
}